<meta charset="utf-8">
<title>Photo App</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
